<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Portfolio Website</title>
  </head>
  <body>
    {{> header}}
    <p>My Personal Website can be found here:</p>
    <p><a href="https://sanjayshanbhag.github.io" target="_blank">Sanjay Shanbhag</a></p>
    {{> footer}}
  </body>
</html>
